<html>
    <head>
        <title>Allergen Avoider</title>
    </head>
    <body>
        <h1>Here are the allergens you chose to avoid:</h1>
        {% for allergen_id in filtered_allergen_ids %}
            <h3>{{ allergen_id }}</h3>
        {% endfor %}
    </body>
</html>
