<html>
    <head>
        <title>Option Avoider</title>
    </head>
    <body>
        <h1>Here are the options you chose to avoid:</h1>
        {% for option_id in filtered_option_ids %}
            <h3>{{ option_id }}</h3>
        {% endfor %}
    </body>
</html>
